<app-header></app-header>

<div style="  margin-bottom: 80px;">
  <div class="card">

    <div class="card-body">
      <div class="card text-black bg-info m-3">
        <h5 class="card-header">About XYZPharma</h5>
        <div class="card-body">
          <p class="card-text">
            With supporting text below as a natural lead-in to additional content.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat debitis libero
             consequatur sapiente, perspiciatis sequi ducimus! Animi at, inventore itaque dolorem tenetur
              repudiandae, natus, ipsam eaque ullam doloremque odio a.
          </p>
        </div>
      </div>
      <div class="card text-black bg-info m-3">
        <h5 class="card-header">Awards</h5>
        <div class="card-body">

          <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat debitis liberolorem</li>
            <li> With supporting text below as a natural lead-in to additional content.</li>
          </ul>

        </div>
      </div>
    </div>


  </div>
  <div class="card">

    <div class="card-body">
      <div class="card text-black bg-info m-3">
        <h5 class="card-header">Awards</h5>
        <div class="card-body">
          <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat debitis liberolorem</li>
            <li>With supporting text below as a natural lead-in to additional content.</li>
            <li>With supporting text below as a natural lead-in to additional content who is you.</li>
          </ul>

        </div>
      </div>
      <div class="card text-black bg-info m-3">
        <h5 class="card-header">Contact Us</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h5 class="card-title">Head office</h5>
              <p>XYZPharma</p>
              <p>Pharma House, MountValley</p>
              <p>SH Marg, Mumbai</p>
              <p>400201</p>
            </div>
            <div class="col-6">
              <h5 class="card-title">Business Hours</h5>
              <p>24X7</p>
              <p>Contact before  visiting: 9011236784</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<app-footer></app-footer>
