<app-header></app-header>

<div class="" style="margin-bottom: 80px;margin-top: 20px;margin-left: 30%;">
  <div class="col-4 ">
    <div class="card text-left" style="width: 30rem; height: auto; ">
      <h5 class="card-header bg-secondary">{{product.name}}</h5>
      <div class="card-body bg-info">
        <h5 class="card-title">{{product.saltComposition}}</h5>
        <p>{{product.sideEffects}}</p>
        <h5 class="card-title">About</h5>
        <p>{{product.about}}</p>
        <h5 class="card-title">Use</h5>
        <p>{{product.use}}</p>
        <h5 class="card-title">Side Effects</h5>
        <p>{{product.sideEffects}}</p>
      </div>
      <div class="card-footer bg-secondary">
        <b>Note:</b> Lorem ipsum dolor sit amet consectetur
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
