
    <header>
        <h1 >CV de Ibrahim Ahamada M'sa</h1>
    </header>

    <section>
        <div class="photo">
            <img src="assets/cv-profil.jpg" alt="Ma photo de profil">
        </div>
        <div class="prez">
            <h2>Qui suis-je ?</h2>
            <p>Diplômé d'un master L3 "Génie informatique  et programmation" (Programme Sup'inguenieur), je me tourne ensuite vers le développement informatique et les
            thématiques liées au web .</p>
            <a href="#" download>Télécharger mon CV</a>
        </div>
        <div class="contact">
            <h2>Informations de contact</h2>
            <div class="contact-flex">
                <p>Nom : </p>
                <p>Ibrahim Ahamada M'sa</p>
            </div>
            <div class="contact-flex">
                <p>Adresse : </p>
                <p>Liberté 6 ext - Dakar Senegal</p>
            </div>
            <div class="contact-flex">
                <p>Téléphone :</p>
                <p>+221 77 823 63 34</p>
            </div>
            <div class="contact-flex">
                <p>Mail : </p>
                <p><a href="mailto:ibrahimahamda001a@gmail.com">ibrahimahamda001a@gmail.com</a></p>
            </div>

            <div class="social">
                <a href="#"><img src="assets/img/fb.png" alt="Logo Fb"></a>
                <a href="#"><img src="assets/img/tw.png" alt="Logo Tw"></a>
                <a href="#"><img src="assets/img/lk.png" alt="Logo Lk"></a>
                <a href="#"><img src="assets/img/yt.png" alt="Logo Yt"></a>
            </div>
        </div>
    </section>

    <section>
        <h2>Expériences professionnelles</h2>
        <div class="exp">

            <div class="exp-info">
                <h3>Créateur</h3>
                <h4>WELIA-TRANSFERT</h4>
                <h4>2021-2022</h4>
            </div>
            <div class="exp-desc">
                <p>Créateur des sites welea-tranfert.com
                début 2021 sur lesquels je partage mes formations complète en
                programmation, optimisation du référencement, etc.</p>
            </div>
        </div>
        <div class="exp">
            <div class="exp-logo">
                <a href="#"><img src="assets/img/legalplace.png" alt="Logo de LegalPlace"></a>
            </div>
            <div class="exp-info">
                <h3>Developpent</h3>
                <h4>université de comores</h4>
                <h4>Novembre 2017 - Décembre 2018</h4>
            </div>
            <div class="exp-desc">
                <p>Developer une site web de la faculte de science et technique.</p>
            </div>
        </div>
    </section>

    <section>
        <h2>Formation</h2>
        <div class="exp">
            <div class="exp-logo">
                <a href="#"><img src="assets/img/supIng.png" alt="Logo Groupe supIngieur"></a>
            </div>
            <div class="exp-info">
                <h3>Groupe supIngieur</h3>
                <h4>2019 - 2022</h4>
            </div>
            <div class="exp-desc">
                <p>blablabla</p>
            </div>
        </div>
        <div class="exp">
            <div class="exp-logo">
                <a href="#"><img src="assets/img/dd.png" alt="Logo IUT"></a>
            </div>
            <div class="exp-info">
                <h3>IUT</h3>
                <h4>2017 - 2019</h4>
            </div>
            <div class="exp-desc">
                <p>blablabla</p>
            </div>
        </div>
        <div class="exp">
            <div class="exp-logo">
                <a href=""><img src="assets/img/dd.png" alt="logo LSMCH"></a>
            </div>
            <div class="exp-info">
                <h3>LSMCH</h3>
                <h4>2014 - 2017</h4>
            </div>
            <div class="exp-desc">
                <p>blablabla</p>
            </div>
        </div>
    </section>

    <section>
        <h2>Compétences</h2>
        <h3 class="h3gauche">Professionnelles</h3>
        <div class="comp">
            <p>HTML / CSS</p>
            <div class="conteneur-barre"><span class="barre c100"></span></div>
        </div>
        <div class="comp">
            <p>PHP / MySQL</p>
            <div class="conteneur-barre"><span class="barre c95"></span></div>
        </div>
        <div class="comp">
            <p>JavaScript</p>
            <div class="conteneur-barre"><span class="barre c90"></span></div>
        </div>
        <div class="comp">
            <p>JAVA</p>
            <div class="conteneur-barre"><span class="barre c90"></span></div>
        </div>
        <div class="comp">
            <p>Angular</p>
            <div class="conteneur-barre"><span class="barre c100"></span></div>
        </div>
        <h3 class="h3gauche">Personnelles</h3>
        <div class="comp2">
            <p>Créativité</p>
            <p>90%</p>
            <div class="conteneur-barre2"><span class="barre c90"></span></div>
        </div>
        <div class="comp2">
            <p>Adaptation</p>
            <p>85%</p>
            <div class="conteneur-barre2"><span class="barre c85"></span></div>
        </div>
        <div class="comp2">
            <p>Sérieux</p>
            <p>95%</p>
            <div class="conteneur-barre2"><span class="barre c95"></span></div>
        </div>
        <div class="comp2">
            <p>Pédagogie</p>
            <p>95%</p>
            <div class="conteneur-barre2"><span class="barre c95"></span></div>
        </div>
    </section>

    <section>
        <h2>Centres d'intérêt</h2>
        <figure class="interet">
            <img src="assets/img/trail.png" alt="Trail">
            <figcaption>Trail</figcaption>
        </figure>
        <figure class="interet">
            <img src="hassets/img/cuisine.jpg" alt="Cuisine">
            <figcaption>Cuisine</figcaption>
        </figure>
        <figure class="interet">
            <img src="assets/img/gaming.jpg" alt="Gaming">
            <figcaption>Jeux vidéos</figcaption>
        </figure>
        <figure class="interet">
            <img src="assets/img/livre.jpg" alt="Littérature">
            <figcaption>Littérature</figcaption>
        </figure>
    </section>

    <footer>
        <p><a href="#">©Ibrahim Ahamada M'sa</a> 2022</p>
    </footer>
